.play-button {
  overflow: hidden;
  position: relative;
  
  background: lightblue;

  height: 100px;
  width: 100px;
}

.play-button__disabled {
  opacity: 0.5;
}

.play-button--circle {
  fill: green;
}

.play-button--circle__active {
  fill: lime;
}

.play-button--inner {
  fill: white;
}

.play-button--inner__active {
  fill: green;
}
